/* pages/cart/index.wxss */

// 收获地址样式
.address-wrap {
    .address {
        font-weight: normal;
        border: 1px solid #ccc;
        margin-top: 40rpx;
    }
    .address-name {
        padding: 20rpx 80rpx;
        border: 1px solid #ccc;
      .userInfo {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20rpx;
        .name {
            flex: 1;  
        }
  
        .tel {
            flex: 1;
            text-align: right;
        }
      }
      .address-detail {
  
      }
    }
  }